# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: job-service
  description: Sammler's job service.
  version: "0.1.0"
# the domain of the service
host: job-service.sammler
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /job:
    get:
      summary: Job Info
      responses:
        200:
          description: OK
      tags:
        - Job
    patch:
      summary: Update job
      description: |
        Update a job.
      responses:
        200:
          description: OK
    post:
      summary: Add a job
      responses:
        200:
          description: OK
      tags:
        - Job
    delete:
      summary: Delete a job
      responses:
        200:
          description: OK
      tags:
        - Job
  /jobs:
    get:
      summary: Get all active jobs.
      description: Returns a list of all jobs.
      responses:
        200:
          description: OK
      tags:
        - Jobs
    post:
      summary: TBD
      description: TBD
      responses:
        201:
          description: Created
      tags:
        - Jobs
  /jobs/active:
    get:
      summary: TBD
      description: TBD
      responses:
        200:
          description: OK
      tags:
        - Jobs
  /jobs/running:
    get:
      summary: TBD
      description: TBD
      responses:
        200:
          description: OK
      tags:
        - Jobs
  /jobs/finished:
    get:
      summary: TBD
      description: TBD
      responses:
        200:
          description: OK
      tags:
        - Jobs
definitions:
  Job:
    type: object
    properties:
      name:
        type: string
      status:
        type: string
      details:
        type: object
